body.swiper-do-swipe-css-perspective-transition > page {
    -webkit-transition: all 0.4s ease-out;
       -moz-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
         -o-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
}